@import "tailwindcss";

@theme {
  --color-surface: #fbf9f4;
  --color-surface-dim: #dbdad5;
  --color-primary: #9c3f00;
  --color-on-primary: #ffffff;
  --color-primary-container: #c45100;
  --color-secondary: #825505;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #ffc16d;
  --color-tertiary: #446347;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #c7ecc7;
  --color-error: #ba1a1a;
  --color-background: #fbf9f4;
  --color-on-background: #1b1c19;
  --color-surface-variant: #e4e2dd;
  --color-outline: #8c7166;

  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
  }
}
@theme {
  --animate-waveform: waveform 1s ease-in-out infinite alternate;
  @keyframes waveform {
    0% { height: 4px; }
    100% { height: 48px; }
  }
}
